#info-button {
    display: none;
}

@media (max-width: 600px) {
    #info-button {
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }

    .mobile-hidden {
        display: none;
    }

}