* {
    color: black;
}
input {
    width: 100%;
}

ul {
    list-style-type: none;
}

.message-user {
    font-size: 1.1em;
    font-weight: bold;
}

.MessagesBox {
    height: 75vh;
    overflow-y: scroll;
}

.ChatWindow {
    display: flex;
    flex-direction: column;
    height: auto;
    position: bottom;
}

.MessageInput {
    display: flex;
}

.MessageInput--text {
    background-color: aliceblue;
    font-size: 1.15em;
}

.MessagesBox li {
    border-radius: 10px;
    background-color: aliceblue;
    padding: 5px;
    margin: 5px;
    font-size: 1.05em;
}

.MessageUserSplit {
    display: flex;
    
}

.UserWindow {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.UserWindow hr {
    margin-left: 0;
    margin-right: 0;
}

.MessagesBox {
    width: 80%;
    background-color: lightslategray;

}

.username-input {
    display:flex;
}

.username-input input{
    margin-left: 10px;
    border-radius: 5px;
    overflow: visible;
}

.color-input {
    display:flex;
}

.color-input input{
    margin-left: 10px;
    border-radius: 5px;
    overflow: visible;
}


.webcam {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.webcam .webcam-capture-button {
    margin-top: 10px;
    font-size: 1.1em;
}